nav{
    background: linear-gradient(to right,rgb(35, 38, 94),black);
    color: rgb(255, 255, 255);
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 20%;
            margin: 0;
            li{
                cursor: pointer;
                font-size: 22px;
                color: aliceblue;
                text-decoration: none;
            }
        }
    }
}